* {
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #6394ee;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.todo__container {
	width: 80%;
	height: 60%;
	padding: 20px 50px;
	background-color: #0b1174;
	border-radius: 16px;
	color: #ffffff;
	text-align: center;
}

.input__container input {
	width: 60%;
	height: 36px;
	outline-color: #ffffff;
	border-width: 0;
	border-radius: 4px;
}


.input__container button {
	height: 36px;
	cursor: pointer;
	background-color: #ff0000;
	border: none;
	color: #ffffff;
	border-radius: 4px;
}

.todo__container ul {
	width: 60%;
	margin: 20px auto;
	padding: 0;
}

.todo__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.todo__item button {
	background-color: #feee05;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}